# CI4 Environment
CI_ENVIRONMENT=development

# Database Configuration
DB_HOST=db
DB_USER=geracert_dev
DB_PASSWORD=geracert_dev_pass
DB_NAME=geracert_dev
DB_DRIVER=MySQLi

# App
APP_NAME=Geracert
APP_TIMEZONE=America/Cuiaba

# Mail Configuration
MAIL_DRIVER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_FROM=noreply@geracert.local

# Cache Configuration
CACHE_DRIVER=redis
CACHE_REDIS_HOST=redis
CACHE_REDIS_PORT=6379

# Session Configuration  
SESSION_DRIVER=redis
SESSION_REDIS_HOST=redis
SESSION_REDIS_PORT=6379
