*.sql
.env
.env.*
!.env.example

geracert/vendor/
geracert/writable/
geracert/build/
geracert/.phpunit.result.cache
py9mt/images/*
!py9mt/images/contest/
py9mt/images/contest/*
!py9mt/images/contest/.gitkeep
Old.zip

geracert.zip
geracert_dev,database

*.log
